asgiref==3.9.1
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.3
cryptography==45.0.6
Django==5.2.5
django-allauth==65.10.0
django-otp==1.6.1
django-versatileimagefield==3.1
django-widget-tweaks==1.5.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
idna==3.10
pillow==11.3.0
pycparser==2.22
PyJWT==2.10.1
pyotp==2.9.0
python-decouple==3.8
python-magic-bin==0.4.14
razorpay==1.4.2
reportlab==4.4.3
requests==2.32.4
setuptools==80.9.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.5.0
wheel==0.45.1
