{% extends "custom_admin/base.html" %}
{% block content %}
<h2>Add Product Offer</h2>
<form method="POST" novalidate>
    {% csrf_token %}
    <div class="mb-3">
        <label>Product</label>
        <select name="product" class="form-control" required>
            {% for product in products %}
                <option value="{{ product.id }}">{{ product.name }}</option>
            {% endfor %}
        </select>
        {% if error.product %}
            <span class="text-danger">{{error.product}}</span>
        {% endif %}
    </div>
    <div class="mb-3">
        <label>Discount %</label>
        <input type="number" name="discount" class="form-control" required>
        
        {% if error.discount %}
            <span class="text-danger">{{error.discount}}</span>
        {% endif %}
            
    </div>
    <div class="mb-3">
        <label>Start Date</label>
        <input type="date" name="start_date" class="form-control" required>
        {% if error.start_date %}
            <span class="text-danger">{{error.start_date}}</span>
        {% endif %}
    </div>
    <div class="mb-3">
        <label>End Date</label>
        <input type="date" name="end_date" class="form-control" required>
        {% if error.end_date %}
            <span class="text-danger">{{error.end_date}}</span>
        {% endif %}
    </div>
    <div class="form-check">
        <input type="checkbox" name="active" class="form-check-input">
        <label class="form-check-label">Active</label>
    </div>
    <button type="submit" class="btn btn-success mt-2">Save</button>
</form>
{% endblock %}
