{% extends "custom_admin/base.html" %}
{% block content %}
<div class="container my-5">
    <h2>Pending Cancellation Requests</h2>
    {% if items %}
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Order #</th>
                    <th>User</th>
                    <th>Product</th>
                    <th>Variant</th>
                    <th>Quantity</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>#{{ item.order.order_code }}</td>
                    <td>{{ item.order.user.email }}</td>
                    <td>{{ item.variant.product.name }}</td>
                    <td>{{ item.variant.color }} / {{ item.variant.size }}</td>
                    <td>{{ item.quantity }}</td>
                   <td>
                        <a href="{% url 'admin_cancellation_request_view' item.item_id %}" class="btn btn-info btn-sm">View</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No pending cancellation requests.</p>
    {% endif %}
</div>
{% endblock %}
