{% extends "user/base.html" %}
{% load static %}
{% block title %} Forgot Password {% endblock title %}
{% block content %}
<div class="container my-5" style="max-width: 450px;">
  <h3 class="mb-3">Forgot Password</h3>
  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="email" class="form-label">Enter your Email</label>
      <input type="email" name="email" class="form-control" placeholder="Enter registered email">
      {% if error.email %}<div class="text-danger small">{{ error.email }}</div>{% endif %}
    </div>
    <button type="submit" class="btn btn-dark w-100">Send OTP</button>
  </form>
</div>
{% endblock %}
