{% extends "user/base.html" %}
{% load static %}
{% block title %}GearUp - Home{% endblock title %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock css %}

{% block content %}
  <!-- Hero Section -->
  <div class="container hero">
    <div class="row align-items-center p-5">
      <div class="col-md-6 ">
        <h6>GEAR . UP</h6>
        <h1>"Tested in the Wild, 
            Approved by Adventurers."</h1>
        <p>Welcome to GearUp – your ultimate companion for survival, adventure, and everything in between. 
            Whether you're hiking through the wilderness, preparing for the unexpected, or just love the thrill of 
            the outdoors, we’ve got the gear to keep you ready. Our collection of rugged, reliable tools and accessories 
            is built for durability and performance, trusted by explorers, preppers, and adventurers alike. Don’t just 
            step into nature—conquer it. Gear up, stay prepared, and never look back.</p>
        <button class="btn btn-dark">Explore Now</button>
      </div>
      <div class="col-md-6 text-center">
        <div class="hero-img">
          <img src="{% static 'images/hero.webp' %}" class="img-fluid" alt="Hero Image">
        </div>
      </div>
    </div>
  </div>

  <div class="section-header text-center my-5">
  <h5 class="text-uppercase text-muted">New Collections</h5>
  <h2 class="fw-bold">GearUp With Us</h2>
</div>

<div class="container">
  <div class="row g-4">
    {% for product in products %}
      <div class="col-6 col-md-4 col-lg-3">
        <div class="card h-100 shadow-sm border-0 text-center">
          <img src="{{ product.image.url }}" class="card-img-top cart-product-img" alt="{{ product.name }}">
          <div class="card-body">
            <h6 class="card-title text-truncate">{{ product.name | title }}</h6>
            <span class="badge bg-danger mb-2">20% OFF</span>
            <div class="fw-bold text-success">₹{{ product.price }}</div>
            <a href="{% url 'product_detail' product.slug %}" class="btn btn-sm btn-dark mt-3">View</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>


  <div class="container explore-section">
    <h4 class="text-center mb-5">Explore The World of Survival</h4>
    <div class="row g-4">
      <div class="col-md-6">
        <div class="explore-card">
          <p>Watch Your Survival With These Pro Gears</p>
          <img src="{% static 'images/banner1.webp' %}" class="img-fluid rounded">
        </div>
      </div>
      <div class="col-md-6">
        <div class="explore-card">
          <p>Watch Your Survival With These Pro Gears</p>
          <img src="{% static 'images/banner2.jpg' %}" class="img-fluid rounded">
        </div>
      </div>
      <div class="col-md-6">
        <div class="explore-card">
          <p>Watch Your Survival With These Pro Gears</p>
          <img src="{% static 'images/banner3.avif' %}" class="img-fluid rounded">
        </div>
      </div>
      <div class="col-md-6">
        <div class="explore-card">
          <p>Watch Your Survival With These Pro Gears</p>
          <img src="{% static 'images/banner1.webp' %}" class="img-fluid rounded">
        </div>
      </div>
    </div>
  </div>

   
{% endblock content %}



