<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Verify Email</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background-color: #BAA991;" class="bg-light min-vh-100 d-flex justify-content-center align-items-center">

    <div class="card shadow p-4" style="max-width: 400px; width: 100%;">
        <h3 class="text-center mb-4">Verify Your Email</h3>

        <form method="POST">
            {% csrf_token %}
            
            <div class="mb-3">
                <label class="form-label">Enter OTP</label>
                <input type="text" name="otp" class="form-control" placeholder="Enter 6-digit OTP" required>
                {% if error.otp %}
                    <div class="text-danger small mt-1">{{ error.otp }}</div>
                {% endif %}
            </div>

            <button type="submit" class="btn btn-dark w-100">Verify</button>
        </form>

        <!-- Timer & Resend -->
       <div class="text-center mt-3">
            {% if otp_expired %}
                <small class="text-muted d-none" id="timer">Expire OTP in 0s</small>
                <a href="{% url 'resend_otp' %}" id="resend-link" class="text-decoration-none">Resend OTP</a>
            {% else %}
                <small id="timer" class="text-muted">Expire OTP in </small>
                <a href="{% url 'resend_otp' %}" id="resend-link" class="text-decoration-none d-none">Resend OTP</a>
            {% endif %}
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        let seconds = 120;
        const timerEl = document.getElementById("timer");
        const resendEl = document.getElementById("resend-link");

        if (timerEl && !timerEl.classList.contains("d-none")) {
            const countdown = setInterval(() => {
                seconds--;
                timerEl.textContent = "Expire OTP in " + seconds + "s";

                if (seconds <= 0) {
                    clearInterval(countdown);
                    timerEl.classList.add("d-none");
                    resendEl.classList.remove("d-none");
                }
            }, 900);
        } else {
            // OTP already expired, show resend immediately
            if (timerEl) timerEl.classList.add("d-none");
            if (resendEl) resendEl.classList.remove("d-none");
        }
    </script>
</body>
</html>
